body {
    overflow: hidden;
    background-color: lemonchiffon;
}

.header {
    display: flex;
    justify-content:center;
    max-height: 20vh;
    margin-top: 5vh;
}

.logo {
    max-width: 100%;
    object-fit: contain;
}

.contents {
    display: flex;
    justify-content:center;
    margin-bottom: 10vh;
}

.button_wrapper {
    display: flex;
    justify-content:center;
}

.button {
    max-height: 40vh;
    margin: 1%;
}

.button_image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.button_info {
    text-align: center;
}